{{> sidebarLeft}}

{{> sidebarRight}}

<div class="base__container">
  <div class="form__container">
    <div class="form__containerChild">
      <form class="ui form " method="POST" action="/project/create/{{project._id}}/task">
        <h2>Create New Task</h2>

        {{!-- <label>Item</label> --}}
        <div class="two fields">
          <div class="field">
            <input name="item" type="text" class="form-control" id="task" placeholder="Item">
          </div>
          <button type="submit" class="ui fluid large teal  button">
            Add<i class="angle double right icon"></i>
          </button>
          {{!--           
          <div class="field">
            <input name="task" type="text" class="form-control" id="task" placeholder="">
          </div> --}}
        </div>


      </form>

    </div>
  </div>
</div>