{{> sidebarLeft}}

{{> sidebarRight}}

<div class="center-screen">
  <div class="ui text container">
    <div class="ui items ">
      <form class="ui form " method="POST" action="/project/create">
        <h2>Create New Project</h2>

        <div class="field">
          <label for="title">Project Title</label>
          <input name="title" type="text" class="form-control" id="title">
        </div>

        <div class="field">
          <label for="description">Description</label>
          <textarea name="description" type="text" class="form-control" id="description"></textarea>
        </div>

        <div class="field">
          <label for="github">Github Link</label>
          <input name="github" type="text" class="form-control" id="github"></input>
        </div>


        <button type="submit" class="ui fluid large teal  button">
          Go To Next<i class="angle double right icon"></i>
        </button>
      </form>

    </div>
  </div>
</div>