{{> sidebarLeft}}

{{> sidebarRight}}

<div class="base__container">
  <div class="form__container">
    <div class="form__containerChild">
      <form class="ui form " method="POST" action="/project/create/{{project._id}}/mvp">
        <h2>Create New Project</h2>

        <label>MVP</label>
        <div class="three fields">
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="1">
          </div>
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="2">
          </div>
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="3">
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="4">
          </div>
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="5">
          </div>
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="6">
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="7">
          </div>
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="8">
          </div>
          <div class="field">
            <input name="mvp" type="text" class="form-control" id="mvp" placeholder="9">
          </div>
        </div>



        <button type="submit" class="ui fluid large teal  button">
          Go To Next<i class="angle double right icon"></i>
        </button>
      </form>

    </div>
  </div>
</div>