<nav class="main__nav">
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="main__nav__links">
    <li>
      <a href="/home">
        <img src="/images/logo.png" alt="logo" class="logo sidebar__main-logo">
      </a>
    </li>
    <li>
      <a href="/allPosts" class="sidebar__text">
        <h3>All Posts</h3>
      </a>
    </li>

  </ul>
</nav>

<div class="sidebarLeft">

  <div class="sidebar__contents__texts">
    <a href="/home">
      <img src="/images/logo.png" alt="logo" class="logo sidebar__main-logo">
    </a>

    {{#if loggedInUser.loginType}}
    <a href="/openProjects" class="sidebar__text">
      <h3>Open Project</h3>
    </a>
    {{/if}}

    <a href="/allPosts" class="sidebar__text">
      <h3>All Posts</h3>
    </a>
    <a href="/openIssues" class="sidebar__text">
      <h3>Your Open Issues</h3>
    </a>
    <a href="/archive" class="sidebar__text">
      <h3>Archive</h3>
    </a>
    <a href="#about" class="sidebar__text">
      <h3>Latest</h3>
    </a>
    
    <a href="#about" class="sidebar__search"><i class="search icon"></i></a>
  </div>
  {{!-- <div class="sidebar__contents">
    <a href="https://my.ironhack.com/" target="_blank"><img src="/images/ironhack_logo.png" alt="ironhack_logo"
        class="logo"></a>
    <a href="https://stackoverflow.com/" target="_blank"><img src="/images/stackoverflow_logo.png"
        alt="stackoverflow_logo" class="logo"></a>
  </div> --}}
</div>