<div class="sidebarRight">
  <div class="sidebarRight__contents">
    <a class="item" href="/dashboard/{{loggedInUser._id}}">
      <h3>Dashboard</h3>
    </a>
    {{!-- <a class="item" href="/dashboard/create">
      <h3>Create</h3>
    </a> --}}
    <a class="ui item" href="/logout">
      <h3>Log Out</h3>
    </a>

  </div>
</div>