<div class="center-screen">
  <h1 class="error">404</h1>
  <h2 class="error">This is not the web page you are looing for.</h2>
  <a href="/" class="error">
    <img src="/images/logo.png" alt="logo" class="logo sidebar__main-logo">
  </a>
</div>