<section class="landing__nav">
  <nav class="landing__navbar">
    <div class="ui secondary menu">
      <a class="item" href="/">
        <h1>
          {{title}}
        </h1>
      </a>

      <div class="right menu">
        <a class="item" href="/signup">
          <h3>Sign Up</h3>
        </a>
        <a class="item" href="/signin">
          <h3>Sign In</h3>
        </a>
      </div>
    </div>
  </nav>
</section>

<div id="fullpage">
  <div class="section">
    <div>
      <h1 class="landing__copy__main">Be comfortable</h1>
      <h1 class="landing__copy__main">not knowing</h1>
      <h1 class="landing__copy__main">everything</h1>
    </div>
    <div class="landing__buttons__top ">
      <a class="item landing__button" href="/signup">
        <button class="ui inverted black basic button">
          <h4>Sign up</h4>
        </button>
      </a>
      <a class="item landing__button" href="/signin">
        <button class="ui inverted black basic button">
          <h4>Sign In</h4>
        </button>
      </a>
    </div>
  </div>

  <div class="section s2">
    <div class="landing__section">
      <img src="/images/undraw_code_inspection_bdl7.svg" alt="" class="landing__img">
      <div class="landing__text">
        <h2 class="landing__copy">Be willing to make mistakes</h2>
      </div>
    </div>
  </div>

  <div class="section s3">
    <div class="landing__section">
      <h2 class="landing__copy">Be patient and supportive with others</h2>

      <img src="/images/undraw_shared_goals_3d12.svg" alt="" class="landing__img">
    </div>
  </div>

  <div class="section s4">
    <div class="landing__section">
      <img src="/images/undraw_fixing_bugs_w7gi.svg" alt="" class="landing__img">
      <div>
        <h2 class="landing__copy">Be resourceful and adaptive </h2>
        <h2 class="landing__copy">when solving problems</h2>
      </div>
    </div>
  </div>

  <div class="section s5">
    <div class=" ">
      <h2 class="landing__copy__main">Let’s</h2>
      <h2 class="landing__copy__main">get</h2>
      <h2 class="landing__copy__main">started!</h2>
    </div>
    <div class="landing__buttons ">
      <a class="item landing__button" href="/signup">
        <button class="ui inverted black basic button">
          <h4>Sign up</h4>
        </button>
      </a>
      <a class="item landing__button" href="/signin">
        <button class="ui inverted black basic button">
          <h4>Sign In</h4>
        </button>
      </a>
    </div>
  </div>
</div>


<div class="intro">
  <div class="intro-text">
    <h1 class="hide">
      <span class="text">Hello, Ironhackers!</span>
    </h1>
  </div>
</div>
<div class="slider"></div>